<!DOCTYPE html>
<html>
<head>
	<title>List of patients found</title>
</head>
<body>

	<table>
		<tr>
			<th>Patient name</th>
			<!-- <th style="width: 15em;">Patient name</th> -->
			<th>Birth day</th>
			<th>CNP</th>
			<th>Address</th>
			<th>e-mail</th>
			<th>tel. no.</th>
			<th></th>			
		</tr>
		<tr>
			<td>Name || FirstName</td>
			<td>Birth date</td>
			<td>CNP</td>
			<td>Address</td>
			<td>email</td>
			<td>nr. tel</td>
			<td><button type="button" name="buton0" id="buton0"> Consult </button></td>

		</tr>
	</table>

</body>
</html>