<!DOCTYPE html>
<html>
<head>
	<title> Add new patient</title>
</head>
<body>

	<form>

		<select name="select_search_criteria">
			<option value="first_name">First Name </option>
			<option value="last_name">Last name</option>
			<option value="CNP">
		</select>
		<input type="submit" name="search_criteria">


		<label for="search_data">Completati numele sau CNPul</label>
		<input type="text" name="search_data"><br />

		<input type="submit" name="simple_search" value="Search for patient">
		<input type="submit" name="advanced_search" value="Advanced search">
		<input type="submit" name="add_new_patient" value="Add new patient">

	</form>

</body>
</html>